<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("VOTRE LOGO", "Index", "Home")</li>
        <li>@Html.ActionLink("Deconnection", "Deconnection", "User")</li>
        <li>@Html.ActionLink("Déposer une announce", "DeposerUneAnnounce", "User")</li>
     
    </ul>
</div>
